{% extends 'base.html' %}
{% load static %}
{% block page_title %}
お気に入り一覧
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/analysis.css' %}">
<style>ul.fda li:nth-child(3){background: #111;}</style>
<style>.material-icons.c{color: #FFFF00;font-size: 30px;}</style>
{% endblock %}


{% block content %}
{% include "components/_header.html" with header_title="お気に入り" %}
    <br>
    <br>
    <ul class="af">
    <li><span id="star-color">&#9733;</span>楽天株式会社　　　　</li><hr>
    <li><span id="star-color">&#9733;</span>三菱商事株式会社　　</li><hr>
    <li><span id="star-color">&#9733;</span>株式会社クレスコ　　</li><hr>
    <li><span id="star-color">&#9733;</span>ソニー株式会社　　　</li><hr>
    </ul>
{% include "components/_bottom-app-bar.html" %}
{% endblock %}
