{% extends 'base.html' %}
{% load static %}
{% block page_title %}
お気に入り一覧
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/analysis.css' %}">
{% endblock %}


{%　block content %}
{% include "components/_header.html" with header_title="お気に入り" %}
    <ul class="target">
    <li><span id="star_yellow">&#9733;</span>株式会社クレスコ　　</li><hr>
    <li><span id="star_yellow">&#9733;</span>三菱商事株式会社　　</li><hr>
    <li><span id="star_yellow">&#9733;</span>楽天株式会社　　　　</li><hr>
    <li><span id="star_yellow">&#9733;</span>ソニー株式会社　　　</li><hr>
    </ul>
{% include "components/_bottom-app-bar.html" %}
{% endblock %}
