{% extends "base.html" %}
{% block title %}会社情報{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/ensyu14.css' %}">
{% endblock %}
{% block content %}
<style>ul.fda li:nth-child(1){background: #111;}</style>
<style>.material-icons.a{color: #00ffff;font-size: 30px;}</style>
<div class="card horizontal">
  <span class="back-text"><i class="fas fa-arrow-left"></i> 戻る</span>
  <h2 class="card-header"><p class="float-text" id="company-name">
        ソニー株式会社<i class="far fa-star" id="star-color"></i>
      </p></h2>
</div>
  <div class="company-info__title-container">
    {% load static %}
    <img class="company-info__title-image" src="{% static 'img/informationblue.png' %}" />
    <h3 class="company-info__title-letters">会社情報</h3>
  </div>

  <table class="dex" border="5" rules="all">
      <tr>
        <td bgcolor="#E0E0E0">会社名</td>
        <td>ソニー株式会社</td>
      </tr>
      <tr>
        <td bgcolor="#E0E0E0">代表者の役職氏名</td>
        <td>代表執行役　吉田憲一郎</td>
      </tr>
      <tr>
        <td bgcolor="#E0E0E0">本店の所在の場所</td>
        <td>東京都港区港南１丁目７番１号</td>
      </tr>
      <tr>
        <td bgcolor="#E0E0E0">電話番号</td>
        <td>03-6748-2111（代表）</td>
      </tr>
      <tr>
        <td bgcolor="#E0E0E0">従業員数　2020年３月</td>
        <td>111,700</td>
      </tr>
      <tr>
        <td bgcolor="#E0E0E0">売上高及び営業収入<br />2020年３月決算</td>
        <td>8,259,885　百万円</td>
      </tr>
  </table>
</div>
{% include "components/_bottom-app-bar.html" %}
<style>
  .company-info__title-container {
    display: flex;
    margin: 32px auto;
    justify-content: center;
    align-items: center;
  }

  .company-info__title-image {
    width: 64px;
    height: 64px;
    margin-right: 16px;
  }

  .company-info__title-letters {
    margin: 0;
    color: #0A3977;
  }
</style>
{% block extra_js %}
<script>
$(".back-text").click(function () {
    window.location.href = "{% url 'corporateanalysis:company_information' %}";
  });
</script>
{% endblock %}
{% endblock %}
