<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP:wght@500&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />

    <title>会社検索画面</title>

    <link rel="stylesheet" href="/static/styles/vendors/bootstrap-reboot.css" />

    <link
      crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      rel="stylesheet"
    />
    <script
      crossorigin="anonymous"
      integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
      src="https://code.jquery.com/jquery-3.5.1.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <link rel="stylesheet" href="/static/styles/vendors/materialize.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <div id="global-container">
      <div class="card horizontal">
        <h2 class="card-header" id="search-card-header">会社検索</h2>
        <div class="card-stacked">
          <div class="card-content">
            <div class="row" id="search-area">
              <form id="search-form" method="get" action="#">
                <div class="row">
                  <div class="input-field col s6">
                    <input
                      type="text"
                      id="search-field"
                      placeholder="検索"
                      id="icon_prefix2"
                      class="materialize-textarea"
                    />
                  </div>
                  <span class="fa-stack fa-2x" id="search-btn">
                    <i class="fas fa-square fa-stack-2x"></i>
                    <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div id="parent"></div>

        <div class="hidden" id="child"></div>
      </div>
    </div>

    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <script src="/static/scripts/js/vendors/materialize.min.js"></script>

    <script>
      axios.defaults.xsrfCookieName = "csrftoken";
      axios.defaults.xsrfHeaderName = "X-CSRFToken";
    </script>

    <script>
      const add_keyword = function (keyword) {
        let keywords = sessionStorage.getItem("keywords");

        if (keywords === null) {
          keywords = keyword + ",";
          sessionStorage.setItem("keywords", keywords);
        } else {
          console.log(keywords);
          keywords += keyword + ",";
          keywords = keywords.split(",");
          keywords = keywords.filter((x, i, self) => self.indexOf(x) === i);
          keywords = keywords.join(",");
          sessionStorage.setItem("keywords", keywords);
        }

        return keywords;
      };

      $("#search-btn").click(function () {
        $(".search-history").remove();
        const keyword = $("#search-field").val();
        let keywords = add_keyword(keyword);

        try {
          keywords = keywords.split(",");
        } catch (ReferenceError) {
          console.log("splitできないお");
          console.log(error.message);
        }

        console.log(keywords);

        if (keywords && keywords != "") {
          for (var i = 0; i < keywords.length; i++) {
            if (keywords[i] != "") {
              $("#parent").append(`
              <div class="search-history">
                <div class='card-action'>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="fas fa-history"></i><a href='#' class='target-link black-text'>  ${keywords[i]}</a>
                    </div>
                    <i class="fas fa-times"></i>
                  </div>
                </div>
              </div>
              `);
            }
          }
        }
      });

      var data = ["hoge", "moge", "hogemoge"];
      var keyupStack = [];
      $("#search-field").on("keyup", function () {
        if ($(this).val) {
          keyupStack.push(1);

          setTimeout(
            function () {
              keyupStack.pop();
              if (keyupStack.length === 0) {
                var buf = ".*" + $(this).val().replace(/(.)/g, "$1.*");
                var reg = new RegExp(buf);

                var filteredLists = $.grep(
                  data,
                  function (d) {
                    return reg.test(d);
                  }.bind(this)
                );
                createRow(filteredLists);
              }
            }.bind(this),
            300
          );
        }

        const text = $(this).val();

        if (!text) {
          $("#child").addClass("hidden");
        } else {
          
          $("#child").removeClass("hidden");
        }
      });

      var createRow = function (lists) {
        var list = $("#child");
        $("#child").empty();
        $.each(lists, function (i, v) {
          var item = $("#child").append(`
              <div class="search-history">
                <div class='card-action'>
                  <div class="row">
                    <div class="input-field col s12">
                      <a href='#' class='target-link black-text'>  ${v}</a>
                    </div>
                  </div>
                </div>
              </div>
              `);
          list.append(item);
        });
      };

      

      $(".fa-times:before").on("click", function () {
        alert("hoge");
      });
    </script>
  </body>
</html>
