

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>グラフデータ</title>
<script src="../../static/scripts\js/jquery-3.2.0.min.js"></script>
<link rel="stylesheet" href="../../static/styles/ensyu14.css" />
</head>
<script>
    $(function() {

        // trの偶数行にevenクラス設定
        $("tr:nth-child(even)").addClass("even");

        // 先頭行以外のtrがマウスオーバーしたとき
        // hoverクラス追加
        $("tr:not(:first-child)").mouseover(function() {
            $(this).addClass("hover");

            // マウスアウトの場合
        }).mouseout(function() {
            $(this).removeClass("hover");
        });
    });
</script>

<body>
 <center><h2>数値データ</h2><center>
    <table>
        <tr>
            <th>収益性分析</th>
            <th>数値(％)</th>
        </tr>

        <tr>
            <td bgcolor="#00FFFF">純利益率</td>
            <td align="right" bgcolor="#00FFFF">７．０％</td>
        </tr>

		<tr>
            <td bgcolor="#00FFFF">ROA(総資本経常利益率)</td>
            <td align="right" bgcolor="#00FFFF">１４．１％</td>
        </tr>

        <tr>
            <td bgcolor="#F2F2F2">ROE(自己資本当期純利益率)</td>
            <td align="right" bgcolor="#F2F2F2">２．５％</td>
        </tr>

        <tr>
            <td bgcolor="#F2F2F2">売上高総利益率</td>
            <td align="right" bgcolor="#F2F2F2">４２．５％</td>
        </tr>

		<tr>
            <td bgcolor="#F2F2F2">売上高営業利益率</td>
            <td align="right" bgcolor="#F2F2F2">１０．２％</td>
        </tr>

        <tr>
            <td bgcolor="#F2F2F2">売上高経常利益率</td>
            <td align="right" bgcolor="#F2F2F2">９．７％</td>
        </tr>

        <tr>
            <td bgcolor="#F2F2F2">売上高販売管理費利率</td>
            <td align="right" bgcolor="#F2F2F2">３２．２％</td>
        </tr>

    </table>

	<table>
        <tr>
            <th>成長性分析</th>	
            <th>数値(％)</th>
        </tr>

        <tr>
            <td bgcolor="#FF9999">売上高増加率</td>
            <td align="right" bgcolor="#FF9999">－４．７％</td>
        </tr>

		<tr>
            <td bgcolor="#FF9999">営業利益増加率</td>
            <td align="right" bgcolor="#FF9999">－５．５％</td>
        </tr>

        <tr>
            <td bgcolor="#00FFFF">総資本増加率</td>
            <td align="right" bgcolor="#00FFFF">９．８％</td>
        </tr>

        <tr>
            <td bgcolor="#FF9999">純利益増加率</td>
            <td align="right" bgcolor="#FF9999">－３６．５％</td>
        </tr>

		<tr>
            <td bgcolor="#FF9999">従業員増加率</td>
            <td align="right" bgcolor="#FF9999">－２．４％</td>
        </tr>

        <tr>
            <td bgcolor="#00FFFF">設備投資増加率</td>
            <td align="right" bgcolor="#00FFFF">９．７％</td>
        </tr>

    </table>
</body>
</html>