<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# ---Google Icon Font --- #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

    {# --- css --- #}
    <link rel="stylesheet" href="{% static 'styles/vendors/bootstrap-reboot.css' %}">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True %}
    <link rel="stylesheet" href="{% static 'styles/vendors/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div id="global-container">
        {% block content %}
        <h1>コンテンツがありません</h1>
        {% endblock %}
    </div>

    {# --- js --- #}
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <script src="{% static 'scripts/js/vendors/materialize.min.js' %}"></script>

    <script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';
    </script>
    {% block extra_js %} {% endblock %}
</body>
</html>
