input.input1 {
  text-align: center;
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;

    /* 文字の太さをboldに指定 */
    font-weight: bold;

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;

    /* 背景色を濃い青色に指定 */
    background-color: #003399;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;
}

.target li:hover {
  background-color: #B2D8FF;
}

input.input1:hover {
  text-align: center;
    /* 背景色を明るい青色に指定 */
    background-color: #24d;

    /* 文字色を白色に指定 */
    color: #fff;
}

.inner{
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;

  font-size: 30px;
}
ul.lf {
  text-align: left;
  list-style: none;

  font-size: 30px;
}

span{
  color: #FFCC00;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* 背景用*/
body {
  padding: 30px;
}

