th {
    background: #000000;
    color: white;
}

th,
td {
    padding: 5px;
}

.even {
    background-color: #F2F2F2;
}

.hover {
    background-color: #B2D8FF;
}
.SimpleFrame {
    box-shadow: 4px 4px 5px #404040;
}
