<footer class="fixed-action-btn toolbar direction-top active"
  style="text-align: center; width: 100%; bottom: 0px; left: 0px; transition: transform 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s, background-color 0s linear 0.2s; overflow: hidden; background-color: #26a69a;">
  <ul>
    <li class="waves-effect waves-light"><a href="{% url 'corporateanalysis:search' %}" style="opacity: 1;"><i class="material-icons">search</i></a>
    </li>
    <li class="waves-effect waves-light"><a href="{% url 'corporateanalysis:comparison_menu' %}" style="opacity: 1;"><i class="material-icons">show_chart</i></a>
    </li>
    <li class="waves-effect waves-light"><a href="{% url 'corporateanalysis:star_main' %}" style="opacity: 1;"><i class="material-icons">star_border</i></a>
    </li>
    <li class="waves-effect waves-light"><a href="{% url 'corporateanalysis:book_main' %}" style="opacity: 1;"><i
          class="material-icons">bookmark_border</i></a>
    </li>
  </ul>
</footer>
