<div id="footer-bk">
    <div id="footer">
      <ul class="fda">
        <li class="fdb"><a href="{% url 'corporateanalysis:search' %}">
          <i class="material-icons">search</i></a></li>
        <li class="fdb"><a href="{% url 'corporateanalysis:comparison_menu' %}">
          <i class="material-icons">stacked_line_chart</i></a></li>
        <li class="fdb"><a href="{% url 'corporateanalysis:star_main' %}">
          <i class="material-icons">star_border</i></a></li>
        <li class="fdb"><a href="{% url 'corporateanalysis:book_main' %}">
          <i class="material-icons">import_contacts</i></a></li>
      </ul>
    </div>
</div>
