<footer>
      <ul class="fda">
        <li class="fdb"><a href="{% url 'corporateanalysis:search' %}">
          <i class="material-icons a">search</i></a></li>
        <li class="fdb"><a href="{% url 'corporateanalysis:comparison_menu' %}">
          <i class="material-icons b">stacked_line_chart</i></a></li>
        <li class="fdb"><a href="{% url 'corporateanalysis:star_main' %}">
          <i class="material-icons c">star_border</i></a></li>
        <li class="fdb"><a href="{% url 'corporateanalysis:book_main' %}">
          <i class="material-icons d">import_contacts</i></a></li>
      </ul>
</footer>
