{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<div>
  <p class="title">
  <h3>会社情報</h3>
  </p>

  <table class="striped">
    <tbody>
      <tr>
        <td>取締役社長</td>
        <td>吉田憲一郎</td>
      </tr>
      <tr>
        <td>資本金</td>
        <td>8,802億円</td>
      </tr>
      <tr>
        <td>従業員</td>
        <td>111,700名</td>
      </tr>
      <tr>
        <td>前年度売上</td>
        <td>8兆2,599億円</td>
      </tr>
      <tr>
        <td>本社所在地</td>
        <td>東京都港区港西</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
